html,body,.container,.row,.row>div {
    margin: 0;
    padding: 0;
    height: 100%;
}
textarea {
    resize: none;
    border: none;
    overflow: auto;
}
#toc {
    background: #CCC;
    font-size: 120%;
    overflow: auto;
}
#presentation {
    background: #222;
    color: #FFF;
    font-size: 250%;
}
h1 {
    font-size: 120%;
}
.carousel-item>div {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
pre code {
    color: darkcyan;
}
code {
    color: darkcyan;
}
.spoiler {
    filter: blur(10px);
    transition: filter .3s;
}
.spoiler:hover {
    filter: none;
    transition-delay: 1s;
}
#sqlin {
    background: #B0B0B0;
    height: 100%;
    font-size: 200%;
}
.list-group-item,textarea {
    background: transparent;
}
#sqlout {
    background: #CCC;
    overflow: auto;
    font-size: 200%;
}
#sqlForm>div {
    height: 10%;
}
#sqlForm>textarea {
    height: 80%;
}
.container {
    max-width: none;   
}
#firstrow {
    height: 65%;
}
#secondrow {
    height: 35%;
}